$font: 'Roboto Condensed', sans-serif;
$font-color: #222;

$success-color: #b7c11e;
$warning-color: #ffcc00;
$error-color: #fb122f;
$shadow-color: rgba(0, 0, 0, .2);

$font-header-weight: 800;
$font-alert-weight: 800;